body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

body {font-family:  sans-serif;}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.ezshop{
  font-family: Papyrus;
}
.course-card {
  width: 400px;
  max-height: 400px;
}

.productimg {
  width: 100px;
  height: 100px
}

.cardImg{
  width: 450px;
  height: 400px;
  border-style: dotted;
  margin-left: auto;
}

.productimage {
  width: 300px;
  height: 400px;
}

.details {
  /*height: 350px;
  padding-bottom: 30px;*/
  background-color: lightgray;
}

.img {
  width: 300px;
  height: 400px;
  margin-left: auto;
}

.banner {
  background-image: url('https://static.vecteezy.com/system/resources/previews/000/518/751/original/vector-black-triangular-abstract-texture-low-light-background.jpg');
  background-size: cover;
  font-family: cursive;
  color: white;
  border-radius: 5px;
}

.productz {
  height: 300px;
  width: 300px;
  background-image: url('https://searchengineland.com/figz/wp-content/seloads/2017/03/e-commerce-seo-search-engine-land-trond.jpg');
}


.prodName {
  background-image: url('https://images.unsplash.com/photo-1585314062604-1a357de8b000?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max');
  background-size: cover;
}

.bgLogin {
  background-image: url('https://static.vecteezy.com/system/resources/previews/000/518/751/original/vector-black-triangular-abstract-texture-low-light-background.jpg');
  color: white;
  border-radius: 10px;
}
.bgRegister{
  background-image: url('https://static.vecteezy.com/system/resources/previews/000/518/751/original/vector-black-triangular-abstract-texture-low-light-background.jpg');
  color: white;
  border-radius: 5px;
}
.bgCreate{
  background-image: url('https://static.vecteezy.com/system/resources/previews/000/518/751/original/vector-black-triangular-abstract-texture-low-light-background.jpg');
  color: white;
  border-radius: 5px;
}
.bgUpdate{
  background-image: url('https://static.vecteezy.com/system/resources/previews/000/518/751/original/vector-black-triangular-abstract-texture-low-light-background.jpg');
  color: white;
  border-radius: 5px;
}

 Highlights {
  background-image: url('https://i.pinimg.com/originals/76/d8/1d/76d81d2c1a0ebb7f831c09a454e109bf.jpg');
  background-size: cover;

  color: white;
  
}

.footer{
  margin-top: 1rem;
  padding: 1rem;
  background-color: black;
  text-decoration-color: white;
  /*position: fixed;*/
  bottom: 0;
  left: 0;
  width: 100%;
}

